<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="https://emojicdn.elk.sh/☎️" />
    <meta name="generator" content={Astro.generator} />
    <title>Zoomies</title>
    <style>
      @font-face {
        font-family: 'Mona Sans';
        font-style: normal;
        font-display: swap;
        font-weight: 100 900;
        src: url('/fonts/mona-sans.woff2') format('woff2');
      }
    </style>
  </head>
  <body class="bg-slate-50 text-slate-800 antialiased">
    <slot />
  </body>
</html>
